<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 어절리스트 관련 쿼리 -->
<mapper namespace="EojeolListMapper">
	<!-- eojeolList 테이블에 데이터를 입력함 -->
	<insert id="insertIntoEojeolList" parameterType="kr.com.inspect.dto.EojeolList">
		INSERT INTO audio.eojeolList
			(id, standard, eojeol, finish, isDialect, begin, utterance_id, metadata_id)
			VALUES(#{id}, #{standard}, #{eojeol}, #{finish}, #{isDialect}, #{begin}, #{utterance_id}, #{metadata_id});
	</insert>
	
	<!-- utterance_id 를 이용하여 eojeollist 데이터 가져오기 -->
	<select id="getEojeolListUsingUtteranceId" parameterType="string" resultType="kr.com.inspect.dto.EojeolList">
		SELECT * 
		FROM 
			audio.eojeollist 
		WHERE 
			utterance_id = #{utterance_id} 
		ORDER BY 
			begin;
	</select>
</mapper>